name: npm-publish
on:
  workflow_dispatch: 
  # pull_request:
  #   branches: ['develop', 'main']
jobs:
  publish-all:
    runs-on: ubuntu-latest
    timeout-minutes: 7
    strategy:
      matrix:
        dir: ['shared', 'core', 'cli', 'client', 'db_mongo', 'db_postgre']
      max-parallel: 1
    permissions:
      contents: read
      id-token: write
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: '18.x'
        registry-url: 'https://registry.npmjs.org'
    # - uses: dorny/paths-filter@v3
    #   id: filter
    #   with:
    #     filters: |
    #       matched:
    #         - './${{ matrix.dir }}/package.json'

    - name: Publish
      working-directory: ./${{ matrix.dir }}
      # if: steps.filter.outputs.matched == 'true'
      run: npm run publish:package --provenance --access public 
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
