name: tests
on:
  workflow_dispatch: 
  pull_request:
    branches: ['develop']
  # push:
  #   branches: ['develop', 'main']
  # paths:
  #   - 'client/**'
  #   - 'core/**'
  #   - 'shared/**'
  #   - 'test/**'
  #   - 'db_*/**'

jobs:
  test:
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-22.04
    timeout-minutes: 14

    services:
      mongodb:
        image: mongo:7.0
        ports:
        - 27017:27017
        env:
          TEST_TIMEOUT: 5000
      postgres:
        image: postgres:16-bullseye
        ports:
        - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: admin
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
        
      - name: Copy repository
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: npm run setup:tests

      - name: Build
        run: npm run build

      - name: Mongodb tests
        run: npm run test:mongo

      - name: PostgreSQL tests
        run: npm run test:postgre

      - name: Microservices tests
        run: npm run start:test-ms

      - name: Microservices proxy tests
        run: npm run start:test-ms:proxy

  test-cli-mongo:
    if: ${{ github.actor != 'dependabot[bot]' }}
    needs: test
    runs-on: ubuntu-22.04
    timeout-minutes: 6

    services:
      mongodb:
        image: mongo:7.0
        ports:
        - 27017:27017
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Copy repository
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: npm install

      - name: CLI mongo
        run: ./test/test-cli.sh mongo
        